body {
	background-color: #000000;
}

.main {


}

div.topo{
	
	font-family: Arial black, Helvetica;

	color: white;
}

h1.topo{
}

div.to-do{
	color: red;
}

div.texto_boas_vindas{
	color: white;
}

div.form_calc{
	color: white;
}